html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  color: #ddd;
  background-color: #212121;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  color: #47f;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 85%;
  border-collapse: collapse;
  border: 1px solid darken(#212121, 2.5%);
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid darken(#212121, 2.5%);
}

th {
  color: #fff;
  background-color: darken(#212121, 1%);
}
